/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root{
    --color-1: #535a3a;
    --color-2: #b0926f;
    --color-3: #2c331b;
    --color-4: #cdccce;
    --off-white: #f4f4f4;
}
html, body{height:100%;}
div#app {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
}
header {
    background: var(--off-white);
    text-align: center;
    padding: 1px;
}
header > p {
    font-size: clamp(32px, 3vw, 50px);
    font-weight: bold;
}
footer {
    height: 100%;
    background: var(--color-4);
    padding:12px 0 12px 0;
}
.footer-info {
    width: 1800px;
    max-width: 90%;
    margin: 0 auto;
}
footer .social-links{
    display: flex;
    gap: 12px;
    margin:12px;
}